html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header>h1{
    font-weight: 400;
    
}
header {
    display: flex;
    justify-content: space-between;
    margin:0 3rem;
}
li{
    list-style: none;
    font-size: 1.5rem ;
}  
 
ul{
    display: flex;
    justify-content: space-between;
}  
nav{
    position: relative;
    top:0.8rem;
    width:20rem;

}
.showcase_img{
    width: 95vw;
    margin: 1rem;

}

article{
    display: flex;
    justify-content: space-between;
}
.container{
    text-align: center;
    margin-right: 2rem;
    padding: 1rem;
}
p{
    font-size: 1.1rem;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    height: 2rem;
    align-items: center;
    
}

a{
    text-decoration: none;
}

a:hover{
    color:red;
}

